.rounded-keza{
    border-radius: 20px;
  }

  .border-custom {
    --tw-border-opacity: 1;
    border-color: rgb(223 225 230/var(--tw-border-opacity));
}

.border-custom {
    border-width: 1px;
}

.bg-blue-light {
    --tw-bg-opacity: 1;
    background-color: rgb(247 248 250/var(--tw-bg-opacity));
}

.card{
    min-height: 220px;
    width: 300px;
    border-radius: 20px;
}

