.dashboard-bg {
    --tw-bg-opacity: 1;
    background-color: rgb(246 248 253/var(--tw-bg-opacity));
}

.bg-white-dashboard {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
}

.dashboard-border {
    --tw-border-opacity: 1;
    border-color: rgb(212 217 237/var(--tw-border-opacity));
    border-width: 1px;
}

.item-hover:hover {
background-color: aqua;
}
