@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* For WebKit-based browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
 }
 
 ::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the tracking area */
  border-radius: 20px;
 }
 
 ::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scroll thumb */
  border-radius: 100vw; /* Optional: adds border radius */
  /* border: 3px solid #f1f1f1; Optional: adds padding around scroll thumb */
  /* border-radius: 100vw; */
 }
 
 /* For Firefox */
 html {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #888080 #f1f1f1; /* thumb and track */
  border-radius: 100vw; /* Optional: adds border radius */
 }

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .robot_container {
     background-color: #f3f4f6;
  }
 }
