@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* For WebKit-based browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
 }
 
 ::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the tracking area */
  border-radius: 20px;
 }
 
 ::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scroll thumb */
  border-radius: 100vw; /* Optional: adds border radius */
  /* border: 3px solid #f1f1f1; Optional: adds padding around scroll thumb */
  /* border-radius: 100vw; */
 }
 
 /* For Firefox */
 html {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #888080 #f1f1f1; /* thumb and track */
  border-radius: 100vw; /* Optional: adds border radius */
 }

body {
  color: rgb(var(--foreground-rgb));
  font-family: sans-serif;
  font-weight: 500;
}

.hover-container {
 position: relative;
 display: inline-block; /* Adjust as needed */
}

.overlay {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
 opacity: 0;
 border-radius: 6px;
 visibility: hidden;
 transition: opacity 0.3s ease, visibility 0.3s ease;
 display: flex;
 justify-content: center;
 align-items: center;
}

.hover-container:hover .overlay {
 opacity: 1;
 visibility: visible;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
 }
  100% {
    transform: translateX(-100%);
 }
}

.animate-infinite-scroll {
 animation: scroll 250s linear infinite;
}

.animate-infinite-scroll:hover {
 animation-play-state: paused;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
